.usecaseMain{
    padding: 70px 0px;
}

.getstartbtn{
    padding: 10px;
    border-radius: 25px;
    background-color: black;
    border: 1px solid #ab00ff;
}

.cardofgetstart:hover{
    background: radial-gradient(circle at 50% 0, #380054, #1c0e27 49%, #100e11), linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 50%);
}

.cardofgetstart:hover button{
    background-color: #ab00ff;
    border: none;
}

.cardofgetstart{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    border: 1px solid #3b3b3b;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 50%);
    justify-content: space-evenly;
}

.card{
    width: 300px;
    height: 280px;
    border-radius: 10px;
    border: 1px solid #3b3b3b;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 50%);
    justify-content: space-around;
}

.card:hover{
    background: radial-gradient(circle at 50% 0, #380054, #1c0e27 49%, #100e11), linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 50%);
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageincard {
    border-radius: 10px;
}
.cardimage{
    /* border: 1px solid white; */
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.cardcontent2{
    font-size: 13px;
    font-weight: 200;
    margin: 14px 0px;
}

.cardcontent1{
    margin: 7px 0px;
    font-size: 20px;
    font-weight: 600;
}